<!DOCTYPE html>
<html lang="<%= config.language %>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="" />
    <title>
      <%- [page.title, config.title].filter(i => i).join(' - ') %>
    </title>

    <%- css('styles') %>

    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101169121);</script>
    <script async src="//static.getclicky.com/js"></script>
  </head>
  <body>
    <div class="header">
      <h1>
        <a href="/">home</a>
      </h1>
    </div>

    <div>
      <%- body %>
    </div>

    <div class="footer">
      <div class="copyright">
        &copy; <%= date(new Date(), 'YYYY') %> Ondrej Sevcik
      </div>
    </div>
  </body>
</html>
